/* Background color and centralization */
body {
  background-color: hsl(30, 54%, 90%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts and list style */
p,
ol,
ul,
td {
  font-size: 16px;
  font-family: "Outfit";
  padding-bottom: 1rem;
}

h1 {
  font-family: "Young Serif";
  color: hsl(24, 5%, 18%);
}

h2 {
  font-family: "Young Serif";
  color: hsl(14, 45%, 36%);
  margin-top: 2rem; /* Create space between headings */
  margin-bottom: 0.5rem; /* Create space between headings and lists */
}

h5 {
  font-family: "Outfit";
  color: hsl(332, 51%, 32%);
}

/* Image */
img {
  max-width: 100%; /* Ensure the image does not overflow */
  border-radius: 2rem;
  padding: 1rem;
}

.container {
  max-height: 100vh;
  /* Ensures the card is centralized and evenly spaced -
  removes extra space below the container */
}

.card {
  max-width: 100%; /* Ensure card doesn't overflow */
  max-height: 100%;
  border-radius: 1rem;
  margin: 8rem; /* Create space above and below the card */
  padding: 2rem;
}

/* Ordered and unordered lists */
ul,
ol {
  margin: 0; /* Remove margin from lists */
  padding-left: 1.5rem; /* Align list items with the headings */
}

li {
  padding: 0.3rem;
}

ol li::marker {
  color: hsl(14, 45%, 36%); /* The marker is the number */
  font-weight: 600;
}

ul li::marker {
  color: hsl(14, 45%, 36%); /* The marker is the bullet points */
  font-weight: 600;
}

/* Preparation time */
.preparation-time {
  background-color: hsla(332, 51%, 32%, 0.05); /* 0.05 is the opacity */
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 0; /* top, right, bottom */
}

/* Nutrition table */
table {
  width: 100%;
}

table td {
  width: 50%;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:last-child td {
  border-bottom: none; /* Remove border from under the last row */
}

td:last-child {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

/* Attributions */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
